*{
box-sizing:border-box;
}
body{
    font-family:'Rubik',sans serif;
}
@key framesmarquee{
    0%{transform:translateX(0)}
    100% {transform:translateX(-50);}
}
.animate-marqueue{
display: flex;
width:max-content;
animation:marquee 10s linear infinite;


}
.animate-marqueue:hover{
    animation-play-state:paused;
}
